%btn{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn-xs{
  font-size: 10px;
}
.btn-s{
  font-size: 12px;
}
.btn-l{
  font-size: 20px;
}
.btn-xl{
  font-size: 24px;
}

.btn{
  @each $name, $colour in $colours{
    &-#{$name}{
      @extend %btn;
      background-color: $colour;
      &:hover{
        background-color: darken($colour, 10%);
      }
      &:disabled{
        cursor: not-allowed;
        background-color: lighten($colour, 15%);
      }
    }
  }
}

.btn-group > *{
  float:left;
  margin: 0;
}
.btn-group > *::after{
  content: "";
  clear: both;
  display: table;
}

.btn-icon{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.btn-icon-small{
  padding: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  top: 0;
  bottom: 0;
}
