.main-topnav{
  background-color: $black-onyx;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 100;
  a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover{
      background-color: black;
      color: white;
    }
  }
  .active{
    background-color: white;
    color: black;
  }
}

.icon-bar{
  background-color: lighten(black, 20%);
  color: white;
  width: 100%;
  display: flex;
  a{
    flex: 1 auto;
    text-align: center;
    padding: 15px;
    background-color: inherit;
    &:hover{
        background-color: lighten(black, 30%);
    }
  }
}
