$green: #4CAF50;
$blue: #2196F3;
$orange: #FF9800;
$red: #F44336;
$gray: #E7E7E7;
$african-sapphire: #271747;
$serpentine: #173F35;
$apple-jade: #008755;
$black-onyx: #2D2926;
$colours: ( "green": $green, "blue": $blue, "orange": $orange, "red": $red, "gray": $gray, "african-sapphire": $african-sapphire, "serpentine": $serpentine, "apple-jade": $apple-jade, "black-onyx": $black-onyx );
$pantone-colours: ( "african-sapphire": $african-sapphire, "serpentine": $serpentine, "apple-jade": $apple-jade, "black-onyx": $black-onyx );
